<!-- Solution to the hands-on coding question -->
body {
    /* The image used */
    background-image: url('https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* Full height */
    height: 100%; 
}

#boxwithcontent {
    background-color: aqua;
}

#boxwithpadding {
    background-color: brown;
    padding:20px;
}

#boxwithborder {
    background-color: black;
    border: 10px dotted white;
}

#boxwithmargin {
    background-color:yellow;
    margin: 10px 15px 20px 25px;
}
